body {
    margin: 0;
    font-family: sans-serif;
}

#cabecera {
    position: relative;
    top: 0;
    background-color: #333;
    color: #FFFFFF;
    height: 100px;
}

#barraHorizontal {
    background-color: #4e6cb5;
}

    #barraHorizontal > ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        background-color: #4e6cb5;
    }

        #barraHorizontal > ul > li {
            display: inline-block;
            text-decoration-line: none;
            background-color: #4e6cb5;
            
        }

    #barraHorizontal li a {
        display: block;
        padding: 5px 10px;
        color: beige;
        text-decoration: none;
    }

#bajo {
    padding:0;
    display:block;
}

#columnIzq{
    width: 250px;
    float: left;
    height:400px;
}

#menuContextual li {
    list-style: none;
}

#formulario{
    width: 700px;
    height: 350px;
    background-color:antiquewhite;
    padding: 5px;
    
}